<footer>
    <div class="container">
        <div class="footer-layout">
            <div class="footer-logo">
                <img src="../../assets/img/index/SOLMO_Logo.png">
            </div>
            <div class="footer-content">
                <div class="footer-addr">
                    <div class="footer-addr-title">
                        <p>ADDRESS</p>
                    </div>
                    <div class="footer-addr-content">
                        <p>
                            주소: 서울특별시 광진구 아차산로 309 남장빌딩 2층<br>
                            (우)05028 (자양동 224-23 남장빌딩 2층)</p>
                    </div>
                </div>
                <div class="footer-addr">
                    <div class="footer-addr-title">
                        <p>TEL / 솔모정보기술</p>
                    </div>
                    <div class="footer-addr-content">
                        <p>02-402-8054</p>
                    </div>
                </div>
            </div>
            <div class="footer-btn">
                <a href="#">개인정보취급방침</a>
                <p class="sla"></p>
                <a href="#">이메일무단수집거부</a>
                <p class="sla"></p>
                <a href="#">법적고지</a>
                <p class="sla"></p>
                <a href="#">이메일문의</a>
            </div>
        </div>
    </div>
</footer>