<head>
    <meta charset="utf-8" />
    <title>솔모정보기술</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <script src="../../assets/js/custom.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- google map -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2ftdjog5WtTqp0WxvA1ITBthjcKdfhXw&callback=initMap&region=kr"></script>
</head>