<div class="move-nav">
	<div class="header-container">
		<div class="main-logo">
			<a href="/"><img src="../../assets/img/index/SOLMO_Logo.png" alt=""></a>
		</div>

		<nav class="nav">
			<ul>
				<li class="li">
					<div class="title">회사소개</div>
					<div class="sub-nav">
						<a href="/company/ceo">CEO 인사말</a>
						<a href="/company/history">연혁</a>
						<a href="/company/certi">인증 및 특허</a>
					</div>
				</li>
				<li class="li">
					<div class="title">제품소개</div>
					<div class="sub-nav">
						<a>li-1</a>
						<a>li-1</a>
						<a>li-1</a>
						<a>li-1</a>
					</div>
				</li>
				<li class="li">
					<div class="title">서비스</div>
					<div class="sub-nav">
						<a>보안취약점분석</a>
						<a>보안프린트</a>
						<a>통합유지보수</a>
					</div>
				</li>
				<li class="li">
					<div class="title">고객센터</div>
					<div class="sub-nav">
						<a>영업문의</a>
						<a href="/support/location">오시는길</a>
						<a>채용공고</a>
					</div>
				</li>
			</ul>
		</nav>
		
		<div class="icon">
			<div class="icon-container">
				<img src="../../assets/img/index/sitemap.png" alt="">
				<img src="../../assets/img/index/setup-dots.png" alt="" onclick="location.href='/sitemap'">
			</div>
		</div>

	</div>

</div>