<div class="move-nav">
	<div class="header-container">
		<div class="main-logo">
			<img src="../../assets/img/index/SOLMO_Logo.png" alt="">
		</div>

		<nav>
			<ul>
				<li>회사소개</li>
				<li>제품소개</li>
				<li>서비스</li>
				<li>고객센터</li>
			</ul>
		</nav>

		<div class="icon">
			<div class="icon-container">
				<img src="../../assets/img/index/sitemap.png" alt="">
				<img src="../../assets/img/index/setup-dots.png" alt="">
			</div>
		</div>

	</div>

</div>