<!DOCTYPE html>
    <% include includes/head %>
    <body class="container">
        <header>
            <% include includes/header %>
        </header>
        <main>
            <% include includes/company/company %>
            <div class="content">
                <div class="content-title">
                    <h2>CEO 인사말</h2>
                </div>

                <div class="ceo-content">
                    <% include includes/company/ceo_content %>
                    <div class="ceo-img">
                        <img src="../assets/img/company/CEO인사말사진.jpg" alt="ceo인사말사진">
                    </div>
                </div>
            </div>
        </main>
        <% include includes/footer %>
    </body>
</html>