<!DOCTYPE html>
    <% include includes/head %>
    <body class="container">
        <header>
            <% include includes/header %>
        </header>
        <main>
            <% include includes/company/company %>
            <div class="content">
                <div class="content-title">
                    <h2>인증 특허</h2>
                </div>

                <div class="certi-content">
                    <% include includes/company/certi_content %>
                </div>
            </div>
        </main>
        <% include includes/footer %>
    </body>
</html>