<!DOCTYPE html>
    <% include includes/head %>
    <body class="container">
        <header>
            <% include includes/header %>
        </header>
        <main>
            ERROR
        </main>
        <% include includes/footer %>
    </body>
</html>