<!DOCTYPE html>
<html lang="ko">
    <% include includes/head %>
    <body class="container">
        <header>
            <% include includes/header %> 
        </header>
        <section>
            
        </section>
        <% include includes/footer %>
    </body>
</html>