<!DOCTYPE html>
<html lang="ko">
    <% include includes/index-head %>
    <body>
        <header>
            <% include includes/index-header %> 
        </header>
        <section id="banner">
            <div class="banner-title">
                <h3>Solmo Information Tech</h3>
            </div>
            <div class="banner-btn">
                <a href="#">
                    <p>Solmo's Philosophy<i class="fas fa-chevron-right"></i></p>
                </a>
            </div>
        </section>
    
        <div class="container">
            <section id="content">
                <div class="content-title">
                    <p>Business <span>Area</span></p>
                    <p class="title-deco"></p>
                </div>
                <div class="content-busines">
                    <div class="content-item">
                        <div class="content-item-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="content-item-txt">
                            <div class="content-item-title">
                                <p>네트워크 보안</p>
                            </div>
                            <div class="content-item-busines">
                                <p>통합위협관리</p>
                                <p>침입차단</p>
                                <p>침입방지</p>
                                <p>사외접속</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="content-item-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="content-item-txt">
                            <div class="content-item-title">
                                <p>단말/서버 보안</p>
                            </div>
                            <div class="content-item-busines">
                                <p>안티랜섬웨어</p>
                                <p>서버보안</p>
                                <p>모바일단말관리</p>
                                <p>통합계정관리 및 접근통제</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="content-item-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="content-item-txt">
                            <div class="content-item-title">
                                <p>어플리케이션 보안</p>
                            </div>
                            <div class="content-item-busines">
                                <p>패치 관리</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="content-busines">
                    <div class="content-item">
                        <div class="content-item-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="content-item-txt">
                            <div class="content-item-title">
                                <p>데이터 보안</p>
                            </div>
                            <div class="content-item-busines">
                                <p>DB 보안(암호화, 접근제어)</p>
                                <p>보안프린터</p>
                                <p>데이터 영구삭제/디가우저</p>
                                <p>데이터 보호 및 백업/복구</p>
                                <p>스크린워터마크</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="content-item-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="content-item-txt">
                            <div class="content-item-title">
                                <p>보안관리</p>
                            </div>
                            <div class="content-item-busines">
                                <p>(통합)로그관리</p>
    
                            </div>
    
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="content-item-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="content-item-txt">
                            <div class="content-item-title">
                                <p>출입/인력 보안</p>
                            </div>
                            <div class="content-item-busines">
                                <p>열감지 안면인식시스템</p>
                            </div>
    
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
        <section class="solmo-solution">
            <div class="container">
                <div class="b-content-title">
                    <p>Business <span>Solution</span></p>
                    <p class="b-title-deco"></p>
                </div>
                <div class="solution-card">
                    <div class="solution-card-item">
                        <div class="thumnail"></div>
                        <div class="card-container">
                            <div class="soltion-title">
                                <p>통합위협관리</p>
                            </div>
                            <div class="solution-content">
                                <p>Firewall, VPN, Anti-Virus, IDS, IPS, Anti-Spam, SSL VPN, QoS 등의 여러 보안기능을 단일의 장비에서 통합적으로
                                    수행하는 시스템
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="solution-card-item">
                        <div class="thumnail"></div>
                        <div class="card-container">
                            <div class="soltion-title">
                                <p>침입차단(F/W)</p>
                            </div>
                            <div class="solution-content">
                                <p>인터넷과 같은 공중망으로부터 기업내부의 사설망을 보호하는 보안장치로 사설망과 공중망 사이의 경계에
                                    위치하여 내부에서 외부로 또는 외부에서 내부로 흘러 다니는 네트워크 트래픽을 제어하는 시스템
    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="solution-card-item">
                        <div class="thumnail"></div>
                        <div class="card-container">
                            <div class="soltion-title">
                                <p>바이러스 월 (Virus-Wall)</p>
                            </div>
                            <div class="solution-content">
                                <p>바이러스 백신 엔진을 이용, 네트워크를 통과하는 콘텐츠 중 바이러스나 웜 등 악성 프로그램을 검사하고 차단 및 치료하는 바이러스 방지 솔루션
    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="solution-more-btn">
                    <div class="more-btn">
                        <p>Read More</p>
                    </div>
                </div>
            </div>
        </section>
        <% include includes/index-footer %>
    </body>
</html>