<!DOCTYPE html>
    <% include includes/head %>
    <body class="container">
        <header>
            <% include includes/header %>
        </header>
        <main>
            <% include includes/sitemap/sitemap %>
            <div class="content">
                <div class="content-title">
                    <h2>사이트맵</h2>
                </div>

                <div class="sitemap-content">
                    <% include includes/sitemap/sitemap_content %>
                </div>
            </div>
        </main>
        <% include includes/footer %>
    </body>

</html>