*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.move-nav {
    width: 100%;
    height: 100px;
    position: fixed;
    border-bottom: 1px solid #dfdfdf;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #333;
    
    z-index: 9999;
}

.main-logo {
    flex: 1;
}

.main-logo img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.header-container {
    width: 1440px; 
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* 메뉴 제작 */
nav {
    flex: 4;
    height: 100%;
}

nav ul{
    width: 50%;
    margin: 0 auto;

    height: 100%;

    display: flex;
    justify-content: space-between;
}

nav ul .li{
    float: left;
    flex:1;

    position: relative;
}

nav ul .li:hover{
    background-color: rgba(0,0,0,0.03);
}

nav ul .li .title{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul .li .sub-nav{
    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-width: 200px;
    background-color: #fff;

    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

nav ul .li .sub-nav{
    display: none;
    border: 1px solid #dfdfdf;
    border-top: none;
}

nav ul .li:hover .sub-nav{
    display: flex;
}

nav ul .li .sub-nav a{
    padding: 15px 30px;
    color: #000;
}

nav ul .li .sub-nav a:hover{
    background-color: #f3f3f3;
}


/* 메뉴 제작 */
.active{
    background-color:rgba(0,0,0,0.4);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
    color: #fff;
}

.icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.icon img {
    width: 30px;
    height: 50px;
    object-fit: contain;
    
}


/* company */
.background{
    height: 500px;
}

.background .img{
    height: 100%;

    position: relative;
    z-index: -2;
}

.background .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background .img .blind{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.background .img .blind h2{
    color: #fff;
    font-size: 36px;
}

.content{
    position: relative;

    width: 70%;
    margin: 0 auto;

    background-color: #fff;

    margin-top: -80px;

    padding: 0px 40px 100px 40px;
}

.content .content-title{
    padding: 75px 0px 50px 0px;
}

.content .content-title h2{
    color: #333;
    font-size: 38px;
    text-align: center;
}

.content .content-title h2:after{
    content : '';
    width: 50px;
    height: 3px;
    background-color: #333;
    display: block;
    margin:25px auto;
}

.content .ceo-content{
    display: flex;
}

.content .ceo-content p{
    position: relative;

    flex:3;
    padding: 60px 30px 0px 0px;

    font-size: 16px;
    font-weight: 700;

    color: #333;
}

.content .ceo-content p span{
    font-size:20px;
}

.content .ceo-content p img{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 150px;
}

.content .ceo-content .ceo-img{
    flex:2;
}

.content .ceo-content .ceo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .certi-content{
    display: grid;
    
    margin: 0 auto;

    width: 80%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.content .certi-content .certi{
    width: 100%;
    height: 100%;

    border: 1px solid #dfdfdf;
}
.content .certi-content .certi img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .history-content{
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto;
}

.content .history-content .history{
    display: flex;

    border-bottom: 1px solid #222;
    padding: 20px 0px;

    font-size: 20px;
    font-weight: bold;
}

.content .history-content .history .history-date,
.content .history-content .history .history-text{
    flex:1;
}
.content .history-content .history .history-text li{
    padding-bottom: 4px;
}

.content .location-content{
    display: flex;
    flex-direction: column;
}
/* company */

/* kakao map */
.content .location-content #map{
    width: 75%;
    height: 400px;
    margin: 0 auto;

    border: 1px solid #dfdfdf;
    border-radius: 4px;
}
/* kakao map */

.content .location-content .location-list{
    width: 75%;
    margin: 0 auto;
}

.content .location-content .location-list ul li{
    padding: 50px;
    border-bottom: 1px solid #dfdfdf;

    display: flex;
}
.content .location-content .location-list ul li:last-child{
    border-bottom: none;
}

.content .location-content .location-list ul li .title{
    min-width: 180px;

    margin-right: 20px;
    border-right: 1px solid #dfdfdf;

    font-size : 28px;
    font-weight: lighter;
    color: #333;
}   

.content .location-content .location-list ul li .item-layout{
    flex:1;
}

.content .location-content .location-list ul li .item,
.content .location-content .location-list ul li .item-layout .item{
    flex:1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 30px;
}
.content .location-content .location-list ul li .item:last-child,
.content .location-content .location-list ul li .item-layout .item:last-child{
    padding-bottom: 0px;
}

.content .location-content .location-list ul li .item img,
.content .location-content .location-list ul li .item-layout .item img{
    width: 36px;
    height: 36px;
}
.content .location-content .location-list ul li .item span,
.content .location-content .location-list ul li .item-layout .item span{
    font-size:16px;

    padding-left: 8px;
}




/* sitemap */
.content .sitemap-content .sitemap-layout{
    
}

.content .sitemap-content .sitemap-layout .sitemap-item{
    display: flex;

    padding: 50px 0px;

    border-top: 1px solid #dfdfdf;
}

.content .sitemap-content .sitemap-layout .sitemap-item h2{
    min-width: 250px;
    margin-right: 20px;
    border-right: 1px solid #dfdfdf;

    font-size: 32px;
    font-weight: lighter;
    color: #333;
}

.content .sitemap-content .sitemap-layout .sitemap-item ul{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content .sitemap-content .sitemap-layout .sitemap-item ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 50px;
}

.content .sitemap-content .sitemap-layout .sitemap-item ul li:last-child{
    padding-bottom: 0;
}

.content .sitemap-content .sitemap-layout .sitemap-item ul li a{
    font-size: 20px;
    font-weight: bold;

    color: #333;
}

.content .sitemap-content .sitemap-layout .sitemap-item ul li a:hover{
    text-decoration: underline;
}

.sitemap-layout .border{
    display: flex;
    justify-content: space-between;
}

.sitemap-layout .border .border-main{
    min-width: 250px;
    height: 3px;
    background-color: #286592;

    position: relative;
    z-index: 2;
}

.sitemap-layout .border .border-sub{
    flex:1;
    height: 3px;
    background-color: #dfdfdf;
}
/* sitemap */


/* footer */

footer {
    height: 250px;
    background-color: black;
    color: #d3d3d3;
}

.footer-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-bottom: 4rem;
}

.footer-logo img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.footer-content {
    font-size: 15px;
}

.footer-addr {
    margin-top: 20px;
}

.footer-addr-title {
    font-weight: bolder;
}

.footer-addr-content {
    font-size: 13px;
    margin-top: 5px;
}

.footer-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-bottom: 4rem;
}

.footer-btn a {
    color: #d3d3d3;
    font-size: 15px;
}

.sla {
    border: 1px solid #d3d3d3;
    height: 15px;
}
/* footer */
