*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    
    font-family: 'Noto Sans KR', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100px;

    border-bottom: 1px solid #dfdfdf;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #333;
}

.active{
    background-color:rgba(0,0,0,0.4);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
}

/* company */
.background{
    margin-top: 100px;

    height: 500px;
}

.background .img{
    height: 100%;

    position: relative;
    z-index: -2;
}

.background .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background .img .blind{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.background .img .blind h2{
    color: #fff;
    font-size: 36px;
}

.content{
    width: 70%;
    margin: 0 auto;

    background-color: #fff;

    margin-top: -80px;

    padding: 0px 40px 100px 40px;
}

.content .content-title{
    padding: 75px 0px 50px 0px;
}

.content .content-title h2{
    color: #333;
    font-size: 38px;
    text-align: center;
}

.content .content-title h2:after{
    content : '';
    width: 50px;
    height: 3px;
    background-color: #333;
    display: block;
    margin:25px auto;
}

.content .ceo-content{
    display: flex;
}

.content .ceo-content p{
    flex:3;
    padding: 60px 30px 0px 0px;

    font-size: 14px;
    font-weight: 700;

    color: #333;
}

.content .ceo-content p span{
    font-size:20px;
}

.content .ceo-content .ceo-img{
    flex:2;
}

.content .ceo-content .ceo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .certi-content{
    display: grid;
    
    margin: 0 auto;

    width: 80%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.content .certi-content .certi{
    width: 100%;
    height: 100%;

    border: 1px solid #dfdfdf;
}
.content .certi-content .certi img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .history-content{
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto;
}

.content .history-content .history{
    display: flex;

    border-bottom: 1px solid #222;
    padding: 20px 0px;

    font-weight: bold;
}

.content .history-content .history .history-date,
.content .history-content .history .history-text{
    flex:1;
}
.content .history-content .history .history-text li{
    padding-bottom: 4px;
}

.content .location-content{
    display: flex;
    flex-direction: column;
}
/* company */

/* kakao map */
.content .location-content #map{
    width: 75%;
    height: 400px;
    margin: 0 auto;
}
/* kakao map */

.content .location-content .location-list{
    width: 75%;
    margin: 0 auto;
}

.content .location-content .location-list ul li{
    padding: 50px;
    border-bottom: 1px solid #dfdfdf;

    display: flex;
}
.content .location-content .location-list ul li:last-child{
    border-bottom: none;
}

.content .location-content .location-list ul li .title{
    min-width: 180px;

    margin-right: 20px;
    border-right: 1px solid #dfdfdf;

    font-size : 28px;
    font-weight: lighter;
    color: #333;
}

.content .location-content .location-list ul li .item-layout{
    flex:1;
}

.content .location-content .location-list ul li .item,
.content .location-content .location-list ul li .item-layout .item{
    flex:1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content .location-content .location-list ul li .item-layout .item:nth-child(2){
    padding: 30px 0px;
}

.content .location-content .location-list ul li .item img,
.content .location-content .location-list ul li .item-layout .item img{
    width: 36px;
    height: 36px;
}
.content .location-content .location-list ul li .item span,
.content .location-content .location-list ul li .item-layout .item span{
    font-size:16px;

    padding-left: 8px;
}





/* footer */
footer{
    width: 100%;
    height: 300px;

    background-color: #222;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* footer */