<p>
    <span>CEO 인사말</span> <br><br>
    ㈜솔모정보기술 홈페이지를 방문해 주신 모든 분들에게 진심으로 감사의 말씀 드립니다. <br><br>
    ㈜솔모정보기술은 2002년 설립 이후 지금까지 IT보안 분야의 정보 보호 컨설팅, 보안취약점 진단, 모의해킹, 통합로그분석, 네트워크 보안 등 보안 컨설팅과 솔루션을 구축하고 통합보안 운영을 전문으로 하는 기업입니다.<br><br>
    또한 우리회사는 사람과 기술에 대한 가치와 중요성을 인식하고 있으며, 이에 따른 직원들의 기술력 함양을 위한 교육 및 훈련에 대해서 내부/외부적으로 적극 지원 하고 있습니다.<br><br>
    이에 따른 결과로 고객에게 신뢰받는 기업이 되었으며, IT보안 분야에서의 입지를 성공적으로 다지고 있습니다.<br><br>
    향후에도 ㈜솔모정보기술은 꿈과 열정을 토대로 고객과 동반 성장하는 기업이 되도록 최선을 다하겠습니다.<br><br><br><br>
   
    <span>솔모정보기술 가족여러분께!</span><br><br>
    우리는 지난 한 해 한번도 경험하지 못한 힘든 경험을 했습니다.<br><br>
    금방 지나갈 줄 알았던 코로나가 지난 한해는 물론이며 언제 종식 될 지 모르는 상황속에서 벌써 우리 일상 깊숙히 자리 잡고 있습니다.<br><br>
    이러한 상황에 발 맞춰 지금까지의 근무방식과 생각을 바꾸는 제도개선을 지속적으로 추진하겠습니다.<br><br>
    또한, 원격근무 시대에 원활한 소통 방법과 탁월한 팀워크를 기반으로 경쟁력 있는 기업이 되기 위해 노력하고 성장합시다.<br><br>

    여러분 가정에 항상 건강과 행복이 가득한 한 해 되시기를 진심으로 기원합니다.<br><br>
    감사합니다.             <img src="../../../assets/img/company/ceo.PNG" alt="ceo">
</p>