<div class="certi">
    <img src="../../../assets/img/company/19.6.17-21.6.16벤처기업확인서_page-0001.jpg" alt="certi1">
</div>
<div class="certi">
    <img src="../../../assets/img/company/2020년이크레더블신용평가B+(민간용) (1)_page-0001.jpg" alt="certi2">
</div>
<div class="certi">
    <img src="../../../assets/img/company/기업부설연구소인정서_page-0001.jpg" alt="certi3">
</div>
<div class="certi">
    <img src="../../../assets/img/company/정보통신공사업등록증_page-0001.jpg" alt="certi4">
</div>
<div class="certi">
    <img src="../../../assets/img/company/정보통신공사업등록증_page-0002.jpg" alt="certi5">
</div>
<div class="certi">
    <img src="../../../assets/img/company/특허증_page-0001.jpg" alt="certi6">
</div>
<div class="certi">
    <img src="../../../assets/img/company/특허증_page-0002.jpg" alt="certi7">
</div>
<div class="certi">
    <img src="../../../assets/img/company/특허증_page-0003.jpg" alt="certi8">
</div>
<div class="certi">
    <img src="../../../assets/img/company/특허증_page-0005.jpg" alt="certi9">
</div>
<div class="certi">
    <img src="../../../assets/img/company/특허증_page-0004.jpg" alt="certi10">
</div>
<div class="certi">
    <img src="../../../assets/img/company/특허증_page-0006.jpg" alt="certi11">
</div>
<div class="certi">
    <!-- <img src="../../../assets/img/company/" alt="certi12"> -->
</div>