<div class="background">
    <div class="img">
        <img src="../assets/img/company/company.jpg" alt="company">
        <div class="blind">
            <h2>
                회사 소개
            </h2>
        </div>
    </div>
</div>