<div class="history">
    <p class="history-date">2019 ~ 현재</p>
    <div class="history-text">
        <li>- HCL 파트너 계약 체결(AppScan) </li>
        <li>- 스크린 워터마크 솔루션 개발 및 베타 테스트</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2017 ~ 2018</p>
    <div class="history-text">
        <li>- 신용등급 BBB- 상향</li>
        <li>- 파키스탄 글로벌 기업"D"사와 방산간련 LOA체결</li>
        <li>- Fortinet 최우수 파트너 수상</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2015 ~ 2016</p>
    <div class="history-text">
        <li>- HP파트너 등록</li>
        <li>- 신용등급 B+</li>
        <li>- 국방과학기술 수출 중개업 등록</li>
        <li>- 신용등급 BB+</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2013 ~ 2014</p>
    <div class="history-text">
        <li>- IBM e-Security 파트너 등록</li>
        <li>- 벤처기업확인 등록</li>
        <li>- 아크로니스 백업 파트너 등록</li>
        <li>- PNP시큐어 영업파트너 등록</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2010 ~ 2012</p>
    <div class="history-text">
        <li>- 기업부설 연구소 설립</li>
        <li>- 정보통신공사업 등록</li>
        <li>- 수배전반안전관리 및 도어락 특허등록</li>
        <li>- PNP시큐어 기술파트너 등록</li>
        <li>- Fortinet Gold 파트너 승격</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2009</p>
    <div class="history-text">
        <li>- (주)솔모정보기술로 법인명 변경</li>
        <li>- 다기능 인터폰 특허 등록</li>
        <li>- Fortinet 파트너 등록</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2004</p>
    <div class="history-text">
        <li>- 한국전력공사 협력 업체 등록</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2003</p>
    <div class="history-text">
        <li>- 2003 무선랜 관련 특허 등록</li>
    </div>
</div>
<div class="history">
    <p class="history-date">2002 ~</p>
    <div class="history-text">
        <li>- (주)에이투지정보기술 설립</li>
    </div>
</div>