<div class="sitemap-layout">
    <div class="border">
        <span class="border-main"></span>
        <span class="border-sub"></span>
    </div>
    <div class="sitemap-item">
        <h2>회사 소개</h2>
        <ul>
            <li><a href="/company/ceo"> CEO 인사말</a></li>
            <li><a href="/company/certi"> 인증 및 특허</a></li>
            <li><a href="/company/history"> 연혁</a></li>
        </ul>
    </div>
    <div class="border">
        <span class="border-main"></span>
        <span class="border-sub"></span>
    </div>
    <div class="sitemap-item">
        <h2>제품 소개</h2>
        <ul>
            <li><a href="#"> 1</a></li>
            <li><a href="#"> 2</a></li>
            <li><a href="#"> 3</a></li>
        </ul>
    </div>
    <div class="border">
        <span class="border-main"></span>
        <span class="border-sub"></span>
    </div>
    <div class="sitemap-item">
        <h2>서비스</h2>
        <ul>
            <li><a href="#"> 1</a></li>
            <li><a href="#"> 2</a></li>
            <li><a href="#"> 3</a></li>
        </ul>
    </div>
    <div class="border">
        <span class="border-main"></span>
        <span class="border-sub"></span>
    </div>
    <div class="sitemap-item">
        <h2>고객 센터</h2>
        <ul>
            <li><a href="#"> 1</a></li>
            <li><a href="/support/location"> 오시는길</a></li>
            <li><a href="#"> 3</a></li>
        </ul>
    </div>
</div>
<!-- git 충돌 -->